<% if @vehicle.errors.any? %>
  <div id="error_explanation">
    <h2>
      error:
    </h2>
    <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>