<div class="col-lg-6 mx-auto">
    <div class="card">
        <h5 class="card-header bg-primary text-white">Confirmartion Pending</h5>
        <div class ="card-body">
            <h5 class= "card-title">Hey! you are just one step away!</h5>
            <p clas="card-text">We send you a confirmation email.Please check your inbox and open the email and click on <strong>Confirm my Account</strong></p>
        </div>
    </div>
<div>